---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import BodySection from '~/components/ui/BodySection.astro';
import WhyChooseUsCard from '~/components/ui/WhyChooseUsCard.astro';
import HowWeWorkSvg from '~/assets/images/how_we_work.svg?raw';
import MobileHowWeWorkSvg from '~/assets/images/m-how-we-work.svg?raw';
import FAQs from '~/components/react/Faq';
import GoogleForm from '~/components/react/GoogleForm';

const metadata = {
  title: '',
  openGraph: {
    type: 'blog',
  },
};
---

<Layout metadata={metadata}>
  <Hero actions={[]}>
    <Fragment slot="title">
      <div>We build High-Quality Software. Even on Tight Deadlines</div>
    </Fragment>
    <Fragment slot="subtitle">Fast, Reliable, and Scalable Solutions Tailored to Your Needs</Fragment>
    <Fragment slot="content">
      <GoogleForm client:load />
      <div class="my-3">
        <div class="flex items-center justify-center gap-2">
          <div>Reach us at :</div>
          <div>
            <a class="text-theme-blue underline" href="mailto:contact@vajpe.com"> contact@vajpe.com </a>
          </div>
        </div>
      </div>
    </Fragment>
  </Hero>

  <div class="relative max-w-7xl mx-auto px-4 sm:px-6">
    <BodySection>
      <Fragment slot="title"> Why Choose Us? </Fragment>
      <Fragment slot="content">
        <div class="flex flex-wrap place-content-center gap-6">
          <WhyChooseUsCard
            title="Employee churn doesn't affect us"
            body="Our core team is rock-solid. Project intelligence is with core team and is systematically defined in the form of templates and protocols."
          />

          <WhyChooseUsCard
            title="Standardized Frameworks, Templates and Tests"
            body="Our predefined templates and protocols eliminate guesswork, ensuring speed and accuracy in development."
          />

          <WhyChooseUsCard
            title="State-of-the-Art Requirement Gathering"
            body="We use a proprietary framework for taking requirements, ensuring we capture your needs effectively from day one."
          />

          <WhyChooseUsCard
            title="Expert-Led System Architecture"
            body="Core team handles system architecture, creating reusable standard templates that optimize efficiency."
          />

          <WhyChooseUsCard
            title="Low Cognitive Load for Developers"
            body="Due to templates and standard protocols created by our core team, our developers stay focused and efficient, leading to less burnout and better retention."
          />
        </div>
      </Fragment>
    </BodySection>
    <div class="my-16">
      <BodySection>
        <Fragment slot="title"> How we work? </Fragment>
        <Fragment slot="content">
          <div class="hidden lg:block mx-auto w-max">
            <Fragment set:html={HowWeWorkSvg} />
          </div>
          <div class="lg:hidden mx-auto w-max">
            <Fragment set:html={MobileHowWeWorkSvg} />
          </div>
        </Fragment>
      </BodySection>
    </div>
    <div class="my-16">
      <BodySection>
        <Fragment slot="title"> What we do? </Fragment>
        <Fragment slot="content">
          <div class="flex flex-wrap place-content-center gap-6">
            <ul class="space-y-3 text-lg">
              <li>
                Full Stack Web Application - Highly interactive single page web application, dashboards, Static sites
                and blogs
              </li>
              <li>Back End - Architecture (Microservice/monolith), containerization, devops</li>
              <li>Mobile Apps - (Android/IOS)</li>
            </ul>
          </div>
        </Fragment>
      </BodySection>
    </div>
    <div class="my-16">
      <BodySection>
        <Fragment slot="title"> Our Work </Fragment>
        <Fragment slot="content">
          <div class="flex flex-wrap place-content-center gap-6">
            <ul class="space-y-3 text-lg">
              <li>
                <a class="text-theme-blue underline" href="/work/dashboards">
                  Dashboards - Real-time dashboards for monitoring and analytics
                </a>
              </li>
              <li>
                <a class="text-theme-blue underline" target="_blank" href="https://github.com/shree-c/exchange">
                  An implementation of stock exchange with order matching
                </a>
              </li>
              <li>
                <a class="text-theme-blue underline" target="_blank" href="https://github.com/shree-c/cpp_json">
                  JSON parser implemented in C++
                </a>
              </li>
            </ul>
          </div>
        </Fragment>
      </BodySection>
    </div>

    <div class="my-16">
      <BodySection>
        <Fragment slot="title"> Blog Posts </Fragment>
        <Fragment slot="content">
          <div class="flex flex-wrap place-content-center gap-6">
            <ul class="space-y-3 text-lg">
              <li>
                <a class="text-theme-blue underline" href="/why-working-with-asyncio-can-be-tricky-in-python">
                  Why working with asyncio is tricky in python
                </a>
              </li>
            </ul>
          </div>
        </Fragment>
      </BodySection>
    </div>
    <div class="my-16">
      <BodySection>
        <Fragment slot="title"> FAQs </Fragment>
        <Fragment slot="content">
          <FAQs client:load />
        </Fragment>
      </BodySection>
    </div>
  </div>
</Layout>
