---
import Logo from '~/assets/brand/banner-no-padding.svg';
import { Image } from 'astro:assets';
---

<span class="">
  <div class="my-1 mr-auto -ml-20 md:-ml-10">
    <Image src={Logo} alt="OxiAlgo" class={`h-[30px] md:h-[50px]`} />
  </div>
</span>
