---

---

<span class="self-center rtl:ml-0 rtl:mr-2 text-xl font-bold whitespace-nowrap dark:text-white text-theme-blue">
  <div>
    <span class="bg-theme-blue px-3 py-2 text-white mr-0.5">V</span>ajpe Tech
  </div>
</span>
