---

---

<Fragment>
  <div class="section">
    <div class="section__content">
      <div class="text-3xl mx-auto w-max">
        <slot name="title" />
      </div>
      <div class="my-10">
        <slot name="content" />
      </div>
    </div>
  </div>
</Fragment>
